@media (min-width: 320px) {
	height: 56px;
	padding: 0 16px;
	position: relative;

	[data-icon-list] {
		display: inline-block;
		position: relative;
		height: 100%;
		width: 44px;
		float: left;

		&:before {
			position: relative;
			top: 5px;
		}
	}
}