@media (min-width: 320px) {
	fieldset {
		border: none;

		legend {
			font-family: sans, sans-serif, serif, MS sans, MS serif;
			color: #555555;
			text-decoration: underline;
			font-size: 24px; 
			line-height: 36px;
		}

		> input, > textarea {
			border: none;
			border-bottom: 1px solid $or-grey-02;
			font-size: 16px;
			font-family: sans, sans-serif, serif, MS sans, MS serif;
			-webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

			&:focus {
				outline: none;
				border-bottom: 2px solid #2899F2;
			}

			&.input-validation-error {
				border-bottom: 2px solid #F3493D;
			}
		}

		> input[type='submit'], > input[type='button'] {
			border: none;
			text-transform: uppercase;
			background-color: $or-white-01;
		  	color: #4CAF50; //Green: 4CAF50; Yellow: FFAB40
		  	font-family: sans-serif;
		  	font-weight: bold;
		  	border-radius: 2px;

		  	&:focus {
		  		border: none;
		  		background-color: rgba(153, 153, 153, 0.2);
			}
			&:active {
				background-color: rgba(153, 153, 153, 0.4);
			}

			&:disabled {
				color: rgba(0, 0, 0, 0.26);
			}
		}

		input[type='radio'], input[type=checkbox] {
			&+ label {
				cursor: pointer;
				-webkit-tap-highlight-color: rgba(12, 154, 141, 0.2);
			}

			&+ label:before {
			    border: 2px solid #717171;
			}

			&:checked + label:before {
				border: 2px solid #0C9A8D;
			}
		}

		input[type=radio] {
			&+ label:before {
			    border-radius: 10px;
			    color: #717171;
			}

			&:checked + label:before {
			    color: #0C9A8D;
			    font-size: 45px;
			    line-height: 18px;
			}
		}

		input[type=checkbox] {
		    &+ label:before {
			    border-radius: 3px;
			}

			&:checked + label:before {
			    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
			    font-size: 19px;
			    color: #ffffff;
			    line-height: 15px;
			    background-color: #0C9A8D;
			}
		}
	}

	.success-msg {
        color: #468847;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
    }

	.captcha-wrapper {
		border-bottom: 1px solid $or-grey-02;
	}

	#recaptcha_widget_div {
		.recaptchatable .recaptcha_r1_c1, 
		.recaptchatable .recaptcha_r3_c1, 
		.recaptchatable .recaptcha_r3_c2, 
		.recaptchatable .recaptcha_r7_c1, 
		.recaptchatable .recaptcha_r8_c1, 
		.recaptchatable .recaptcha_r3_c3, 
		.recaptchatable .recaptcha_r2_c1, 
		.recaptchatable .recaptcha_r4_c1, 
		.recaptchatable .recaptcha_r4_c2, 
		.recaptchatable .recaptcha_r4_c4,
		.recaptchatable .recaptcha_r2_c2,
		.recaptchatable .recaptcha_image_cell {
			background: none !important;
		}

		#recaptcha_response_field {
			border: none !important;
			border-bottom: 1px solid $or-grey-02 !important;
			font-size: 16px !important;
			font-family: sans, sans-serif, serif, MS sans, MS serif !important;
			-webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

			&:focus {
				outline: none !important;
				border-bottom: 2px solid #2899F2 !important;
			}
		}

		#recaptcha_privacy a {
			font-size: 12px !important;
		}
	}
	.field-validation-error {
		color: #F3493D;
		font-size: 12px;
	}
}