[data-icon-phone]:before{ font-family: 'entypo'; content:'\1F4DE'; }
[data-icon-mobile]:before{ font-family: 'entypo'; content:'\1F4F1'; }
[data-icon-mouse]:before{ font-family: 'entypo'; content:'\E789'; }
[data-icon-address]:before{ font-family: 'entypo'; content:'\E723'; }
[data-icon-mail]:before{ font-family: 'entypo'; content:'\2709'; }
[data-icon-paper-plane]:before{ font-family: 'entypo'; content:'\1F53F'; }
[data-icon-pencil]:before{ font-family: 'entypo'; content:'\270E'; }
[data-icon-feather]:before{ font-family: 'entypo'; content:'\2712'; }
[data-icon-attach]:before{ font-family: 'entypo'; content:'\1F4CE'; }
[data-icon-inbox]:before{ font-family: 'entypo'; content:'\E777'; }
[data-icon-reply]:before{ font-family: 'entypo'; content:'\E712'; }
[data-icon-reply-all]:before{ font-family: 'entypo'; content:'\E713'; }
[data-icon-forward]:before{ font-family: 'entypo'; content:'\27A6'; }
[data-icon-user]:before{ font-family: 'entypo'; content:'\1F464'; }
[data-icon-users]:before{ font-family: 'entypo'; content:'\1F465'; }
[data-icon-add-user]:before{ font-family: 'entypo'; content:'\E700'; }
[data-icon-vcard]:before{ font-family: 'entypo'; content:'\E722'; }
[data-icon-export]:before{ font-family: 'entypo'; content:'\E715'; }
[data-icon-location]:before{ font-family: 'entypo'; content:'\E724'; }
[data-icon-map]:before{ font-family: 'entypo'; content:'\E727'; }
[data-icon-compass]:before{ font-family: 'entypo'; content:'\E728'; }
[data-icon-direction]:before{ font-family: 'entypo'; content:'\27A2'; }
[data-icon-hair-cross]:before{ font-family: 'entypo'; content:'\1F3AF'; }
[data-icon-share]:before{ font-family: 'entypo'; content:'\E73C'; }
[data-icon-shareable]:before{ font-family: 'entypo'; content:'\E73E'; }
[data-icon-heart]:before{ font-family: 'entypo'; content:'\2665'; }
[data-icon-heart-empty]:before{ font-family: 'entypo'; content:'\2661'; }
[data-icon-star]:before{ font-family: 'entypo'; content:'\2605'; }
[data-icon-star-empty]:before{ font-family: 'entypo'; content:'\2606'; }
[data-icon-thumbs-up]:before{ font-family: 'entypo'; content:'\1F44D'; }
[data-icon-thumbs-down]:before{ font-family: 'entypo'; content:'\1F44E'; }
[data-icon-chat]:before{ font-family: 'entypo'; content:'\E720'; }
[data-icon-comment]:before{ font-family: 'entypo'; content:'\E718'; }
[data-icon-quote]:before{ font-family: 'entypo'; content:'\275E'; }
[data-icon-home]:before{ font-family: 'entypo'; content:'\2302'; }
[data-icon-popup]:before{ font-family: 'entypo'; content:'\E74C'; }
[data-icon-search]:before{ font-family: 'entypo'; content:'\1F50D'; }
[data-icon-flashlight]:before{ font-family: 'entypo'; content:'\1F526'; }
[data-icon-print]:before{ font-family: 'entypo'; content:'\E716'; }
[data-icon-bell]:before{ font-family: 'entypo'; content:'\1F514'; }
[data-icon-link]:before{ font-family: 'entypo'; content:'\1F517'; }
[data-icon-flag]:before{ font-family: 'entypo'; content:'\2691'; }
[data-icon-cog]:before{ font-family: 'entypo'; content:'\2699'; }
[data-icon-tools]:before{ font-family: 'entypo'; content:'\2692'; }
[data-icon-trophy]:before{ font-family: 'entypo'; content:'\1F3C6'; }
[data-icon-tag]:before{ font-family: 'entypo'; content:'\E70C'; }
[data-icon-camera]:before{ font-family: 'entypo'; content:'\1F4F7'; }
[data-icon-megaphone]:before{ font-family: 'entypo'; content:'1F4E3'; }
[data-icon-moon]:before{ font-family: 'entypo'; content:'\0045'; }
[data-icon-palette]:before{ font-family: 'entypo'; content:'\1F3A8'; }
[data-icon-leaf]:before{ font-family: 'entypo'; content:'\1F342'; }
[data-icon-note]:before{ font-family: 'entypo'; content:'\266A'; }
[data-icon-beamed-note]:before{ font-family: 'entypo'; content:'\266B'; }
[data-icon-new]:before{ font-family: 'entypo'; content:'\1F4A5'; }
[data-icon-graduation-cap]:before{ font-family: 'entypo'; content:'\1F393'; }
[data-icon-book]:before{ font-family: 'entypo'; content:'\1F4D5'; }
[data-icon-newspaper]:before{ font-family: 'entypo'; content:'\1F4F0'; }
[data-icon-bag]:before{ font-family: 'entypo'; content:'\1F45C'; }
[data-icon-airplane]:before{ font-family: 'entypo'; content:'\2708'; }
[data-icon-lifebuoy]:before{ font-family: 'entypo'; content:'\E788'; }
[data-icon-eye]:before{ font-family: 'entypo'; content:'\E70A'; }
[data-icon-clock]:before{ font-family: 'entypo'; content:'\1F554'; }
[data-icon-mic]:before{ font-family: 'entypo'; content:'\1F3A4'; }
[data-icon-calendar]:before{ font-family: 'entypo'; content:'\1F4C5'; }
[data-icon-flash]:before{ font-family: 'entypo'; content:'\26A1'; }
[data-icon-thunder-cloud]:before{ font-family: 'entypo'; content:'\26C8'; }
[data-icon-droplet]:before{ font-family: 'entypo'; content:'\1F4A7'; }
[data-icon-cd]:before{ font-family: 'entypo'; content:'\1F4BF'; }
[data-icon-briefcase]:before{ font-family: 'entypo'; content:'\1F4BC'; }
[data-icon-air]:before{ font-family: 'entypo'; content:'\1F4A8'; }
[data-icon-hourglass]:before{ font-family: 'entypo'; content:'\23F3'; }
[data-icon-gauge]:before{ font-family: 'entypo'; content:'\1F6C7'; }
[data-icon-language]:before{ font-family: 'entypo'; content:'\1F394'; }
[data-icon-network]:before{ font-family: 'entypo'; content:'\E776'; }
[data-icon-key]:before{ font-family: 'entypo'; content:'\1F511'; }
[data-icon-battery]:before{ font-family: 'entypo'; content:'\1F50B'; }
[data-icon-bucket]:before{ font-family: 'entypo'; content:'\1F4FE'; }
[data-icon-magnet]:before{ font-family: 'entypo'; content:'\E7A1'; }
[data-icon-drive]:before{ font-family: 'entypo'; content:'\1F4FD'; }
[data-icon-cup]:before{ font-family: 'entypo'; content:'\2615'; }
[data-icon-rocket]:before{ font-family: 'entypo'; content:'\1F680'; }
[data-icon-brush]:before{ font-family: 'entypo'; content:'\E79A'; }
[data-icon-suitcase]:before{ font-family: 'entypo'; content:'\1F6C6'; }
[data-icon-traffic-cone]:before{ font-family: 'entypo'; content:'\1F6C8'; }
[data-icon-globe]:before{ font-family: 'entypo'; content:'\1F30E'; }
[data-icon-keyboard]:before{ font-family: 'entypo'; content:'\2328'; }
[data-icon-browser]:before{ font-family: 'entypo'; content:'\E74E'; }
[data-icon-publish]:before{ font-family: 'entypo'; content:'\E74D'; }
[data-icon-progress-3]:before{ font-family: 'entypo'; content:'\E76B'; }
[data-icon-progress-2]:before{ font-family: 'entypo'; content:'\E76A'; }
[data-icon-progress-1]:before{ font-family: 'entypo'; content:'\E769'; }
[data-icon-progress-0]:before{ font-family: 'entypo'; content:'\E768'; }
[data-icon-light-down]:before{ font-family: 'entypo'; content:'\1F505'; }
[data-icon-light-up]:before{ font-family: 'entypo'; content:'\1F506'; }
[data-icon-adjust]:before{ font-family: 'entypo'; content:'\25D1'; }
[data-icon-code]:before{ font-family: 'entypo'; content:'\E714'; }
[data-icon-monitor]:before{ font-family: 'entypo'; content:'\1F4BB'; }
[data-icon-infinity]:before{ font-family: 'entypo'; content:'\221E'; }
[data-icon-light-bulb]:before{ font-family: 'entypo'; content:'\1F4A1'; }
[data-icon-credit-card]:before{ font-family: 'entypo'; content:'\1F4B3'; }
[data-icon-database]:before{ font-family: 'entypo'; content:'\1F4F8'; }
[data-icon-voicemail]:before{ font-family: 'entypo'; content:'\2707'; }
[data-icon-clipboard]:before{ font-family: 'entypo'; content:'\1F4CB'; }
[data-icon-cart]:before{ font-family: 'entypo'; content:'\E73D'; }
[data-icon-box]:before{ font-family: 'entypo'; content:'\1F4E6'; }
[data-icon-ticket]:before{ font-family: 'entypo'; content:'\1F3AB'; }
[data-icon-rss]:before{ font-family: 'entypo'; content:'\E73A'; }
[data-icon-signal]:before{ font-family: 'entypo'; content:'\1F4F6'; }
[data-icon-thermometer]:before{ font-family: 'entypo'; content:'\1F4FF'; }
[data-icon-water]:before{ font-family: 'entypo'; content:'\1F4A6'; }
[data-icon-sweden]:before{ font-family: 'entypo'; content:'\F601'; }
[data-icon-line-graph]:before{ font-family: 'entypo'; content:'\1F4C8'; }
[data-icon-pie-chart]:before{ font-family: 'entypo'; content:'\25F4'; }
[data-icon-bar-graph]:before{ font-family: 'entypo'; content:'\1F4CA'; }
[data-icon-area-graph]:before{ font-family: 'entypo'; content:'\1F53E'; }
[data-icon-lock]:before{ font-family: 'entypo'; content:'\1F512'; }
[data-icon-lock-open]:before{ font-family: 'entypo'; content:'\1F513'; }
[data-icon-logout]:before{ font-family: 'entypo'; content:'\E741'; }
[data-icon-login]:before{ font-family: 'entypo'; content:'\E740'; }
[data-icon-check]:before{ font-family: 'entypo'; content:'\2713'; }
[data-icon-cross]:before{ font-family: 'entypo'; content:'\274C'; }
[data-icon-squared-minus]:before{ font-family: 'entypo'; content:'\229F'; }
[data-icon-squared-plus]:before{ font-family: 'entypo'; content:'\229E'; }
[data-icon-squared-cross]:before{ font-family: 'entypo'; content:'\274E'; }
[data-icon-circled-minus]:before{ font-family: 'entypo'; content:'\2296'; }
[data-icon-circled-plus]:before{ font-family: 'entypo'; content:'\2295'; }
[data-icon-circled-cross]:before{ font-family: 'entypo'; content:'\2716'; }
[data-icon-minus]:before{ font-family: 'entypo'; content:'\2796'; }
[data-icon-plus]:before{ font-family: 'entypo'; content:'\2795'; }
[data-icon-erase]:before{ font-family: 'entypo'; content:'\232B'; }
[data-icon-block]:before{ font-family: 'entypo'; content:'\1F6AB'; }
[data-icon-info]:before{ font-family: 'entypo'; content:'\2139'; }
[data-icon-circled-info]:before{ font-family: 'entypo'; content:'\E705'; }
[data-icon-help]:before{ font-family: 'entypo'; content:'\2753'; }
[data-icon-circled-help]:before{ font-family: 'entypo'; content:'\E704'; }
[data-icon-warning]:before{ font-family: 'entypo'; content:'\26A0'; }
[data-icon-cycle]:before{ font-family: 'entypo'; content:'\1F504'; }
[data-icon-cw]:before{ font-family: 'entypo'; content:'\27F3'; }
[data-icon-ccw]:before{ font-family: 'entypo'; content:'\27F2'; }
[data-icon-shuffle]:before{ font-family: 'entypo'; content:'\1F500'; }
[data-icon-back]:before{ font-family: 'entypo'; content:'\1F519'; }
[data-icon-level-down]:before{ font-family: 'entypo'; content:'\21B3'; }
[data-icon-retweet]:before{ font-family: 'entypo'; content:'\E717'; }
[data-icon-loop]:before{ font-family: 'entypo'; content:'\1F501'; }
[data-icon-back-in-time]:before{ font-family: 'entypo'; content:'\E771'; }
[data-icon-level-up]:before{ font-family: 'entypo'; content:'\21B0'; }
[data-icon-switch]:before{ font-family: 'entypo'; content:'\21C6'; }
[data-icon-numbered-list]:before{ font-family: 'entypo'; content:'\E005'; }
[data-icon-add-to-list]:before{ font-family: 'entypo'; content:'\E003'; }
[data-icon-layout]:before{ font-family: 'entypo'; content:'\268F'; }
[data-icon-list]:before{ font-family: 'entypo'; content:'\2630'; }
[data-icon-text-doc]:before{ font-family: 'entypo'; content:'\1F4C4'; }
[data-icon-text-doc-inverted]:before{ font-family: 'entypo'; content:'\E731'; }
[data-icon-doc]:before{ font-family: 'entypo'; content:'\E730'; }
[data-icon-docs]:before{ font-family: 'entypo'; content:'\E736'; }
[data-icon-landscape-doc]:before{ font-family: 'entypo'; content:'\E737'; }
[data-icon-picture]:before{ font-family: 'entypo'; content:'\1F304'; }
[data-icon-video]:before{ font-family: 'entypo'; content:'\1F3AC'; }
[data-icon-music]:before{ font-family: 'entypo'; content:'\1F3B5'; }
[data-icon-folder]:before{ font-family: 'entypo'; content:'\1F4C1'; }
[data-icon-archive]:before{ font-family: 'entypo'; content:'\E800'; }
[data-icon-trash]:before{ font-family: 'entypo'; content:'\E729'; }
[data-icon-upload]:before{ font-family: 'entypo'; content:'\1F4E4'; }
[data-icon-download]:before{ font-family: 'entypo'; content:'\1F4E5'; }
[data-icon-save]:before{ font-family: 'entypo'; content:'\1F4BE'; }
[data-icon-install]:before{ font-family: 'entypo'; content:'\E778'; }
[data-icon-cloud]:before{ font-family: 'entypo'; content:'\2601'; }
[data-icon-upload-cloud]:before{ font-family: 'entypo'; content:'\E711'; }
[data-icon-bookmark]:before{ font-family: 'entypo'; content:'\1F516'; }
[data-icon-bookmarks]:before{ font-family: 'entypo'; content:'\1F4D1'; }
[data-icon-open-book]:before{ font-family: 'entypo'; content:'\1F4D6'; }
[data-icon-play]:before{ font-family: 'entypo'; content:'\25B6'; }
[data-icon-paus]:before{ font-family: 'entypo'; content:'\2016'; }
[data-icon-record]:before{ font-family: 'entypo'; content:'\25CF'; }
[data-icon-stop]:before{ font-family: 'entypo'; content:'\25A0'; }
[data-icon-ff]:before{ font-family: 'entypo'; content:'\23E9'; }
[data-icon-fb]:before{ font-family: 'entypo'; content:'\23EA'; }
[data-icon-to-start]:before{ font-family: 'entypo'; content:'\23EE'; }
[data-icon-to-end]:before{ font-family: 'entypo'; content:'\23ED'; }
[data-icon-resize-full]:before{ font-family: 'entypo'; content:'\E744'; }
[data-icon-resize-small]:before{ font-family: 'entypo'; content:'\E746'; }
[data-icon-volume]:before{ font-family: 'entypo'; content:'\23F7'; }
[data-icon-sound]:before{ font-family: 'entypo'; content:'\1F50A'; }
[data-icon-mute]:before{ font-family: 'entypo'; content:'\1F507'; }
[data-icon-flow-cascade]:before{ font-family: 'entypo'; content:'\1F568'; }
[data-icon-flow-branch]:before{ font-family: 'entypo'; content:'\1F569'; }
[data-icon-flow-tree]:before{ font-family: 'entypo'; content:'\1F56A'; }
[data-icon-flow-line]:before{ font-family: 'entypo'; content:'\1F56B'; }
[data-icon-flow-parallel]:before{ font-family: 'entypo'; content:'\1F56C'; }
[data-icon-left-bold]:before{ font-family: 'entypo'; content:'\E4AD'; }
[data-icon-down-bold]:before{ font-family: 'entypo'; content:'\E4B0'; }
[data-icon-up-bold]:before{ font-family: 'entypo'; content:'\E4AF'; }
[data-icon-right-bold]:before{ font-family: 'entypo'; content:'\E4AE'; }
[data-icon-left]:before{ font-family: 'entypo'; content:'\2B05'; }
[data-icon-down]:before{ font-family: 'entypo'; content:'\2B07'; }
[data-icon-up]:before{ font-family: 'entypo'; content:'\2B06'; }
[data-icon-right]:before{ font-family: 'entypo'; content:'\27A1'; }
[data-icon-circled-left]:before{ font-family: 'entypo'; content:'\E759'; }
[data-icon-circled-down]:before{ font-family: 'entypo'; content:'\E758'; }
[data-icon-circled-up]:before{ font-family: 'entypo'; content:'\E75B'; }
[data-icon-circled-right]:before{ font-family: 'entypo'; content:'\E75A'; }
[data-icon-triangle-left]:before{ font-family: 'entypo'; content:'\25C2'; }
[data-icon-triangle-down]:before{ font-family: 'entypo'; content:'\25BE'; }
[data-icon-triangle-up]:before{ font-family: 'entypo'; content:'\25B4'; }
[data-icon-triangle-right]:before{ font-family: 'entypo'; content:'\25B8'; }
[data-icon-chevron-left]:before{ font-family: 'entypo'; content:'\E75D'; }
[data-icon-chevron-down]:before{ font-family: 'entypo'; content:'\E75C'; }
[data-icon-chevron-up]:before{ font-family: 'entypo'; content:'\E75F'; }
[data-icon-chevron-right]:before{ font-family: 'entypo'; content:'\E75E'; }
[data-icon-chevron-small-left]:before{ font-family: 'entypo'; content:'\E761'; }
[data-icon-chevron-small-down]:before{ font-family: 'entypo'; content:'\E760'; }
[data-icon-chevron-small-up]:before{ font-family: 'entypo'; content:'\E763'; }
[data-icon-chevron-small-right]:before{ font-family: 'entypo'; content:'\E762'; }
[data-icon-chevron-thin-left]:before{ font-family: 'entypo'; content:'\E765'; }
[data-icon-chevron-thin-down]:before{ font-family: 'entypo'; content:'\E764'; }
[data-icon-chevron-thin-up]:before{ font-family: 'entypo'; content:'\E767'; }
[data-icon-chevron-thin-right]:before{ font-family: 'entypo'; content:'\E766'; }
[data-icon-left-thin]:before{ font-family: 'entypo'; content:'\2190'; }
[data-icon-down-thin]:before{ font-family: 'entypo'; content:'\2193'; }
[data-icon-up-thin]:before{ font-family: 'entypo'; content:'\2191'; }
[data-icon-right-thin]:before{ font-family: 'entypo'; content:'\2192'; }
[data-icon-arrow-combo]:before{ font-family: 'entypo'; content:'\E74F'; }
[data-icon-three-dots]:before{ font-family: 'entypo'; content:'\23F6'; }
[data-icon-two-dots]:before{ font-family: 'entypo'; content:'\23F5'; }
[data-icon-dot]:before{ font-family: 'entypo'; content:'\23F4'; }
[data-icon-cc]:before{ font-family: 'entypo'; content:'\1F545'; }
[data-icon-cc-by]:before{ font-family: 'entypo'; content:'\1F546'; }
[data-icon-cc-nc]:before{ font-family: 'entypo'; content:'\1F547'; }
[data-icon-cc-nc-eu]:before{ font-family: 'entypo'; content:'\1F548'; }
[data-icon-cc-nc-jp]:before{ font-family: 'entypo'; content:'\1F549'; }
[data-icon-cc-sa]:before{ font-family: 'entypo'; content:'\1F54A'; }
[data-icon-cc-nd]:before{ font-family: 'entypo'; content:'\1F54B'; }
[data-icon-cc-pd]:before{ font-family: 'entypo'; content:'\1F54C'; }
[data-icon-cc-zero]:before{ font-family: 'entypo'; content:'\1F54D'; }
[data-icon-cc-share]:before{ font-family: 'entypo'; content:'\1F54E'; }
[data-icon-cc-remix]:before{ font-family: 'entypo'; content:'\1F54F'; }
[data-icon-db-logo]:before{ font-family: 'entypo'; content:'\1F5F9'; }
[data-icon-db-shape]:before{ font-family: 'entypo'; content:'\1F5FA'; }
 
[data-social-icon-github]:before{ font-family: 'entypo'; content:'\F300'; }
[data-social-icon-c-github]:before{ font-family: 'entypo'; content:'\F301'; }
[data-social-icon-flickr]:before{ font-family: 'entypo'; content:'\F303'; }
[data-social-icon-c-flickr]:before{ font-family: 'entypo'; content:'\F304'; }
[data-social-icon-vimeo]:before{ font-family: 'entypo'; content:'\F306'; }
[data-social-icon-c-vimeo]:before{ font-family: 'entypo'; content:'\F307'; }
[data-social-icon-twitter]:before{ font-family: 'entypo'; content:'\F309'; }
[data-social-icon-c-twitter]:before{ font-family: 'entypo'; content:'\F30A'; }
[data-social-icon-facebook]:before{ font-family: 'entypo'; content:'\F30C'; }
[data-social-icon-c-facebook]:before{ font-family: 'entypo'; content:'\F30D'; }
[data-social-icon-s-facebook]:before{ font-family: 'entypo'; content:'\F30E'; }
[data-social-icon-google-plush]:before{ font-family: 'entypo'; content:'\F30F'; }
[data-social-icon-c-google-plush]:before{ font-family: 'entypo'; content:'\F310'; }
[data-social-icon-pinterest]:before{ font-family: 'entypo'; content:'\F312'; }
[data-social-icon-c-pinterest]:before{ font-family: 'entypo'; content:'\F313'; }
[data-social-icon-tumblr]:before{ font-family: 'entypo'; content:'\F315'; }
[data-social-icon-c-tumblr]:before{ font-family: 'entypo'; content:'\F316'; }
[data-social-icon-linkedin]:before{ font-family: 'entypo'; content:'\F318'; }
[data-social-icon-c-linkedin]:before{ font-family: 'entypo'; content:'\F319'; }
[data-social-icon-dribbble]:before{ font-family: 'entypo'; content:'\F31B'; }
[data-social-icon-c-dribbble]:before{ font-family: 'entypo'; content:'\F31C'; }
[data-social-icon-stumbleupon]:before{ font-family: 'entypo'; content:'\F31E'; }
[data-social-icon-c-stumbleupon]:before{ font-family: 'entypo'; content:'\F31F'; }
[data-social-icon-lastfm]:before{ font-family: 'entypo'; content:'\F321'; }
[data-social-icon-c-lastfm]:before{ font-family: 'entypo'; content:'\F322'; }
[data-social-icon-rdio]:before{ font-family: 'entypo'; content:'\F324'; }
[data-social-icon-c-rdio]:before{ font-family: 'entypo'; content:'\F325'; }
[data-social-icon-spotify]:before{ font-family: 'entypo'; content:'\F327'; }
[data-social-icon-c-spotify]:before{ font-family: 'entypo'; content:'\F328'; }
[data-social-icon-qq]:before{ font-family: 'entypo'; content:'\F32A'; }
[data-social-icon-instagram]:before{ font-family: 'entypo'; content:'\F32D'; }
[data-social-icon-dropbox]:before{ font-family: 'entypo'; content:'\F330'; }
[data-social-icon-evernote]:before{ font-family: 'entypo'; content:'\F333'; }
[data-social-icon-flattr]:before{ font-family: 'entypo'; content:'\F336'; }
[data-social-icon-skype]:before{ font-family: 'entypo'; content:'\F339'; }
[data-social-icon-c-skype]:before{ font-family: 'entypo'; content:'\F33A'; }
[data-social-icon-renren]:before{ font-family: 'entypo'; content:'\F33C'; }
[data-social-icon-sina-weibo]:before{ font-family: 'entypo'; content:'\F33F'; }
[data-social-icon-paypal]:before{ font-family: 'entypo'; content:'\F342'; }
[data-social-icon-picasa]:before{ font-family: 'entypo'; content:'\F345'; }
[data-social-icon-soundcloud]:before{ font-family: 'entypo'; content:'\F348'; }
[data-social-icon-mixi]:before{ font-family: 'entypo'; content:'\F34B'; }
[data-social-icon-behance]:before{ font-family: 'entypo'; content:'\F34E'; }
[data-social-icon-google-circles]:before{ font-family: 'entypo'; content:'\F351'; }
[data-social-icon-vk]:before{ font-family: 'entypo'; content:'\F354'; }
[data-social-icon-smashing]:before{ font-family: 'entypo'; content:'\F357'; }
