.card {
    background-color: var(--colors-secondary-light);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(33,33,33,.16), 0 4px 8px rgba(33,33,33,.24);
    padding-bottom: 8px;
}

.card > *:first-child {
    border-radius: 4px 4px 0 0;
}