@media (min-width: 800px) {
	box-sizing: border-box;
	position: static;
	width: 100%;
	padding: 0;
	height: 44px;
	margin-top: 20px;

	ul {
		position: relative;
		display: inline-block;
		width: 100%;

		li {
			float: left;
			padding: 0;
			width: 16%;
			text-align: center;
			height: 44px;

			a {
				height: inherit;
			}
		}
	}
}