.header {
    background: transparent;
    display: inline-block;
    width: 100%;
}

.logo,
.register,
.eventTheme,
.eventDate {
    justify-self: center;
    text-align: center;
}

.logo {
    width: 100%;
    max-width: 424px;
}

.register {
    display: inline-block;
}
