.warning {
    background-color: #0091EA;
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
}

.header {
    background: var(--colors-secondary-light);
    display: inline-block;
    width: 100%;
    position: relative;
}

.logo,
.register,
.eventThemeHeader,
.eventHeader {
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 100%;
    max-width: 302px;
    min-width: 151px;
    max-height: 271px;
    min-height: 135.5px;
    display: block;
    margin: 0 auto;
}

.register {
    display: block;
    margin: 0 auto;
    background-color: var(--colors-primary);
    border-color: var(--colors-primary);
    width: 200px;
    padding: 1rem;
    position: relative;
    bottom: -25px;
}


@media screen and (max-width: 599px) {
    .logo {
        width: 211.4px;
        height: 189.7px;
    }
    
    .eventHeader {
        font-size: 1.5rem;
    }
    
    .eventThemeHeader {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 719px) {
    .logo {
        width: 241.6px;
        height: 216.8px;
    }

    .eventHeader {
        font-size: 2rem;
    }
    
    .eventThemeHeader {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 720px) and (max-width: 839px) {
    .logo {
        width: 271.8px;
        height: 243.9px;
    }

    .eventHeader {
        font-size: 3rem;
    }
    
    .eventThemeHeader {
        font-size: 2rem;
    }
}

@media screen and (min-width: 840px) {
    .eventHeader {
        font-size: 3.75rem;
    }
    
    .eventThemeHeader {
        font-size: 3rem;
    }
}