@media (min-width: 320px) {
	fieldset {
		margin: 0;
		padding: 0;

		legend {
			padding: 0;
			margin: 0;
			text-align: left;
		}

		> label {
			position: absolute !important;
			clip: rect(1px, 1px, 1px, 1px);
			height: 0px;
			width: 0px;
			overflow: hidden;
			visibility: hidden;
		}

		> input, > textarea {
			box-sizing: border-box;
			width: 100%;
			min-height: 44px;
			padding: 16px 0 0 2px;
		}

		> textarea {
			min-height: 88px;
			resize: none;
		}

		> input[type='submit'], > input[type='button'] {
			padding: 0 10px;
			float: left;
			width: auto;
			margin-top: 10px;
		}

		input[type='radio'], input[type=checkbox] {
			position: absolute !important;
			clip: rect(1px, 1px, 1px, 1px);
			overflow: hidden;
			visibility: hidden;

			&+ label {
			    display: inline-block;
			    position: relative;
				padding: 10px 5px 10px 30px;
			}

			&+ label:before {
			    content: "";
			    display: inline-block;
			    width: 16px;
			    height: 16px;
			    margin-right: 10px;
			    position: absolute;
			    left: 5px;
			    top: 11px;
			}
		}

		input[type='radio'] {
			&:checked + label:before {
			    content: "\2022";
			    text-align: center;
			}
		}

		input[type=checkbox] {
		    &:checked + label:before {
			    content: "\2713";
			    text-align: center;
			}
		}

	}

	.success-msg {
        text-align: center;
    }

	.captcha-wrapper {
		width: 100%;
		padding-bottom: 10px;
	}

	#recaptcha_widget_div {
		 zoom: .85;

		.recaptchatable #recaptcha_image {
			margin: 0 !important;
		}
		.recaptchatable .recaptcha_r1_c1, 
		.recaptchatable .recaptcha_r3_c1, 
		.recaptchatable .recaptcha_r3_c2, 
		.recaptchatable .recaptcha_r7_c1, 
		.recaptchatable .recaptcha_r8_c1, 
		.recaptchatable .recaptcha_r3_c3, 
		.recaptchatable .recaptcha_r2_c1, 
		.recaptchatable .recaptcha_r4_c1, 
		.recaptchatable .recaptcha_r4_c2, 
		.recaptchatable .recaptcha_r4_c4,
		.recaptchatable .recaptcha_r2_c2,
		.recaptchatable .recaptcha_image_cell {
			background: none !important;
		}

		.recaptchatable .recaptcha_input_area {
			margin-left: 0 !important;
		}

		#recaptcha_response_field {
			min-height: 44px !important;
		}
	}



	.field-validation-error {
		text-align: left;
		padding-left: 2px;
		display: block;	
	}
}