@media (min-width: 320px) {
	div {
		width: 48%;
		display: inline-block;
	}

	a {
		display: inline-block;
	}

	h3 {
		margin-bottom: 10px;
	}

	img {
		height: 150px;
	}

	span {
		display: block;
	}
}