<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="stylesheet" type="text/css" href="/css/third-party/flexslider.min.css"/>

		<script src="/js/common/lib/modernizr-2.8.3.min.js"></script>
	</head>
	<body>
		<div class="menu-bar mobile">
		    <span data-bind="click: $data.displayMenu" data-icon-list></span>
		</div>

		<div class="header-content-wrap">
			{% include header.html %}
		</div>

		<div class="container page">
    		{{ content }}
		</div>
		
		{% include footer.html %}

		<script src="/js/common/lib/jquery-1.10.2.min.js"></script>
        <script src="/js/common/lib/knockout-3.1.0.js"></script>

        <script src="/js/menubar.js"></script>
	    <script src="/js/common/lib/jquery.flexslider-min.js"></script>
	    <script src="/js/slide.min.js"></script>
	</body>
</html>