<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/activities">Activities</a></li>
        		<li><a href="/speakers">Speakers</a></li>
        		<li><a href="/registration">Registration</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/directions">Directions</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ohiomensoxroast@gmail.com">email</a></li>
        		<li><a href="https://github.com/ohiomensoxroast">github.com/ohiomensoxroast</a></li>
			</ul>
		</footer>
	</body>
</html>