:root {
    --colors-primary: #d50000;
    --colors-primary-light: #ff5131;
    --colors-primary-dark: #9b0000;
    --colors-secondary: #f2f2f2;
    --colors-secondary-light: #ffffff;
    --colors-secondary-dark: #bfbfbf;
    --colors-text-primary: #fafafa;
    --colors-text-secondary: #212121;

    /*
        https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=D50000&secondary.color=F2F2F2&secondary.text.color=212121&primary.text.color=FAFAFA 
    */

    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--colors-secondary);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.005rem;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, button, caption, figcaption, .subTitle-1, .subTitle-2, .body-1, .body-2, .caption, .outline {
    font-weight: 400;
    margin: 0;
    text-transform: initial;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: -0.015rem;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    letter-spacing: -0.005rem;
}

h3 {
    font-size: 3rem;
    letter-spacing: 0rem;
}

h4 {
    font-size: 2rem;
    letter-spacing: 0.0025rem;
}

h5 {
    font-size: 1.5rem;
    letter-spacing: 0rem;
}

h6 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0015rem;
}

p {
    margin: 0;
}

.subTitle-1 {
    font-size: 1rem;
    letter-spacing: 0.0015rem;
}

.subTitle-2 {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.001rem;
}

.body-1 {
    font-size: 1rem;
    letter-spacing: 0.005rem;
}

.body-2 {
    font-size: 0.875rem;
    letter-spacing: 0.0025rem;
}

button,
.button {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
}

caption, figcaption, .caption {
    font-size: 0.75rem;
    letter-spacing: 0.004rem;
}

.outline {
    font-size: 0.625rem;
    letter-spacing: 0.015rem;
    text-transform: uppercase;
}