.main {
    background-color: var(--colors-secondary-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(33,33,33,.16), 0 4px 8px rgba(33,33,33,.24);
}

.pageWrapper {
    padding: 1.5rem 0;
}