/* .main {
  
} */

.pageWrapper {
    padding: 1.5rem 0;
}

.footer {
    background-color: #fff;
}

.scripture {
    padding: 20px 20px 40px 20px;
    font-style: italic;
}

.registerContainer {
    position: fixed;
    background: grey;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}