/* .main {
  
} */

.pageWrapper {
    padding: 1.5rem 0;
}

.footer {
    background-color: #fff;
}

.scripture {
    padding: 20px 20px 40px 20px;
    font-style: italic;
}

.registerContainer {
    position: fixed;
    background: var(--colors-secondary-light);
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.register {
    background-color: var(--colors-primary);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--colors-text-primary);
    margin: 1rem;
}