
.navBar {
    background-color: var(--colors-primary-light);
    border: 1px solid var(--colors-primary-light);
    box-shadow: 0 4px 8px rgba(33, 33, 33, .64);
    z-index: 6;
    position: relative;
    height: 56px;
}

.navBar button {
    box-shadow: none !important;
    height: 56px;
    width: 56px;
}

.nav {
    background: var(--colors-primary-light);
    border-right: 1px solid rgba(0,0,0,.12);
    bottom: 0;
    overflow-y: auto;
    padding: 72px 0 40px;
    position: fixed;
    top: 0;
    transform: translateX(-281px);
    transition: transform .15s cubic-bezier(.4,0,.2,1);
    width: 280px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.opened {
    transform: translateX(0);
    transition-duration: 235ms;
}

.nav a {
    font-size: 0.875rem;
    letter-spacing: 0.0025rem;
    color: var(--colors-text-primary);
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.nav .material-icons {
    color: var(--colors-secondary-light);
}

@media screen and (min-width: 720px) and (max-width: 839px) {
    .navBar button {
        display: none;
    }

    .nav {
        background-color: var(--colors-primary-light);
        border: 1px solid var(--colors-primary-light);
        box-shadow: 0 4px 8px rgba(33, 33, 33, .64);
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 56px;
        padding: 0;
        transform: none;
    }

    .nav a {
        color: #fff;
        padding: 1rem .3rem
    }
}

@media screen and (min-width: 840px) {
    .navBar button {
        display: none;
    }

    .nav {
        background-color: var(--colors-primary-light);
        border: 1px solid var(--colors-primary-light);
        box-shadow: 0 4px 8px rgba(33, 33, 33, .64);
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 56px;
        padding: 0;
        transform: none;
        justify-content: flex-end;
    }

    .nav a {
        color: #fff;
    }

    .nav a:first-child {
        justify-self: flex-start;
    }
}